body {
    background-color: burlywood;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heart {
    width: 80px;
    height: 80px;
    background-color: red;
    transform: rotate(45deg);
    animation: beat 2s ease-out infinite;
}

.heart:before {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    border-radius: 50%;
    transform: translateY(-50%);
}

.heart:after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: red;
    border-radius: 50%;
    transform: translateX(-50%);
}

@keyframes beat {
    0% {
        transform: rotate(45deg) scale(1);
    }
    25% {
        transform: rotate(45deg) scale(1);
    }
    30% {
        transform: rotate(45deg) scale(1.4);
    }
    50% {
        transform: rotate(45deg) scale(1.2);
    }
    70% {
        transform: rotate(45deg) scale(1.4);
    }
    100% {
        transform: rotate(45deg) scale(1);
    }
}