body {
    background-color: burlywood;
    height: 100vh;
    margin: 0;
    align-items: center;
    justify-content: center;
    display: flex;
}

.loader {
    width: 70px;
    height: 70px;
    background-color: lightseagreen;
    border-radius: 8px;
    animation: animate 5s linear infinite reverse;
    position: relative;
}

@keyframes animate {
    0% {
        background-color: darkslateblue;
        left: 0px;
        top: 0px;
    }
    25% {
        background-color: mediumblue;
        left: 200px;
        top: 0px;
    }
    50% {
        background-color: dodgerblue;
        left: 200px;
        top: 200px;
    }
    75% {
        background-color: lightblue;
        left: 0px;
        top: 200px;
    }
    100% {
        background-color: darkslateblue;
        left: 0px;
        top: 0px;
    }
}